# Compiled Python bytecode
*.py[cod]

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Self
templates/robots.txt
retrix/settings.py
retrix/static
details/utils.py
keywords.json
venv