body,
html {
  font-family: "Lato", sans-serif;
  height: 100%;
}
main {
  flex: 1 1 auto;
}
img {
  pointer-events: none;
}
ul {
  list-style: none;
}
.wrapper {
  min-height: 100%;
}
.btn {
  border-radius: 0;
}
/****** ANCHORS ******/
a.anchor {
  display: block;
  position: relative;
  top: -87px;
  visibility: hidden;
}
/****** MODAL ******/
.modal-body img {
  width: 350px;
  height: 350px;
}
/****** NAVBAR ******/
.navbar-nav {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.navbar-light {
  background-color: #e3f2fd;
  opacity: 0.9;
}
.navbar-brand img {
  width: 160px;
  height: 80px;
  transition: height 0.33s, width 0.33s;
}
nav ul li a {
  color: #241d7a;
}
/****** LANGUAGES ******/
.languages {
  list-style: none;
  margin-top: 14px;
  padding: 0;
}
.languages li button {
  margin-right: 5px;
  padding-left: 40px;
  position: relative;
}
button[value="en"]::before,
button[value="ru"]::before,
button[value="lv"]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 11px;
  bottom: 3px;
}
button[value="en"]::before {
  background-image: url(../img/en.svg);
}
button[value="ru"]::before {
  background-image: url(../img/ru.svg);
}
button[value="lv"]::before {
  background-image: url(../img/lv.svg);
}
/****** CONTACT ******/
input[type="text"],
input[type="email"],
textarea {
  background: none !important;
  width: 400px !important;
  height: 40px;
  border: 2px solid #241d7a !important;
  border-radius: 6px !important;
}
textarea {
  height: 150px;
  resize: none;
  padding-top: 15px !important;
}
form img {
  cursor: pointer;
  pointer-events: all;
  display: block;
  margin: 0 auto 20px auto;
}
/****** COOKIES ******/
#CookielawBanner {
  transition: all 0.4s ease-out;
}
.cookie {
  color: #fff;
  text-align: center;
  position: fixed;
  left: 25px;
  bottom: 25px;
  max-width: 411px;
  background-color: #06d6a0;
  border-radius: 13px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
  opacity: 0.85;
  padding: 15px;
  z-index: 1000;
}
.cookie h3 {
  margin-left: 30px;
  text-align: left;
}
.cookie h3::before {
  content: "";
  background-image: url(../img/cookie-icon.svg);
  position: absolute;
  top: 15px;
  left: 15px;
  width: 33px;
  height: 33px;
}
.cookie p {
  color: #000;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
/****** ROW 1 ******/
.row-1-col-1 img {
  width: 100%;
  height: 805px;
  filter: drop-shadow(0 0 0.75rem #000);
}
.row-1-col-2 {
  background-color: #241d7a;
}
.row-1-col-2 h1 {
  color: #fff;
  font-size: 46px;
  font-family: Georgia, serif;
  margin-top: 500px;
}
.row-1-col-3 {
  background-color: #212221;
}
.row-1-col-3 h4 {
  color: #fff;
  line-height: 1.6;
  letter-spacing: 6px;
  margin: 20px 30px 0 30px;
}
.row-1-col-3 img {
  width: 441px;
  height: 360px;
  border-radius: 6px;
  margin-top: 165px;
  filter: drop-shadow(0 0 0.75rem #000);
}
/****** ROW 2 ******/
.row-2-col-1 {
  background-color: #bec3be;
  height: 865px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-2-col-1 h1 {
  font-size: 52px;
  font-family: Georgia, serif;
}
.row-2-col-1 h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.6;
  margin-top: 10px;
}
.row-2-col-1 p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
.row-2-col-2 {
  background-color: #241d7a;
}
.row-2-col-2 img {
  height: 651px;
  width: 375px;
  border-radius: 6px;
  object-fit: cover;
  position: relative;
  right: 145px;
  bottom: 60px;
  filter: drop-shadow(0 0 0.75rem #241d7a);
}
.row-2-col-3 {
  background-color: #bec3be;
}
.row-2-col-3 img {
  width: 350px;
  height: 435px;
  border-radius: 6px;
  position: relative;
  top: 275px;
  right: 10px;
  filter: drop-shadow(0 0 0.75rem #241d7a);
}
/****** ROW 3 ******/
.row-3-col-1 {
  height: 700px;
  background-color: #212221;
}
.row-3-col-2 {
  background-color: #241d7a;
}
.row-3-col-2 img {
  width: 585px;
  height: 447px;
  border-radius: 6px;
  position: relative;
  top: 130px;
  right: 265px;
  filter: drop-shadow(0 0 0.75rem #241d7a);
}
.row-3-col-3 {
  background-color: #212221;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-3-col-3 h5 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 4px;
  margin: 20px 15px 0 15px;
}
.row-3-col-3 p {
  color: #fff;
  font-size: 17px;
}
.row-3-col-3 button {
  border: none;
  background-color: #241d7a;
}
.row-3-col-4 {
  background-color: #212221;
}
/****** ROW 4 ******/
.row-4-col-1 img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem #000);
}
.row-4-col-2 {
  height: 650px;
  background-color: #241d7a;
}
.row-4-col-2 h1 {
  color: #fff;
  font-size: 44px;
  font-family: Georgia, serif;
  margin: 180px 13px 0 13px;
}
.row-4-col-3 img {
  width: 100%;
  height: 650px;
  filter: drop-shadow(0 0 0.75rem purple);
}
/****** ROW 5 ******/
.row-5-col-1 {
  height: 715px;
  background-color: #bec3be;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-5-col-1 img {
  width: 430px;
  height: 370px;
  border-radius: 6px;
  filter: drop-shadow(0 0 0.75rem #241d7a);
}
.row-5-col-2 {
  background-color: #241d7a;
}
.row-5-col-2 img {
  width: 385px;
  height: 576px;
  border-radius: 6px;
  position: relative;
  bottom: 55px;
  right: 180px;
  filter: drop-shadow(0 0 0.75rem #241d7a);
}
.row-5-col-3 {
  background-color: #bec3be;
}
.row-5-col-3 h1 {
  font-size: 52px;
  font-family: Georgia, serif;
  margin-top: 50px;
}
/****** ROW 6 ******/
.row-6-col-1 {
  height: 605px;
  background-color: #212221;
}
.row-6-col-2 {
  background-color: #241d7a;
}
.row-6-col-2 img {
  width: 570px;
  height: 404px;
  border-radius: 6px;
  object-fit: cover;
  position: relative;
  top: 110px;
  right: 250px;
  filter: drop-shadow(0 0 0.75rem #000);
}
.row-6-col-3 {
  background-color: #212221;
}
.row-6-col-3 h1 {
  color: #fff;
  font-size: 56px;
  font-family: Georgia, serif;
  margin-top: 135px;
  margin-left: 75px;
}
.row-6-col-3 h5 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 6px;
  margin-left: 85px;
}
.row-6-col-3 p {
  color: #fff;
  margin-left: 85px;
}
.row-6-col-3 ul {
  margin-left: 35px;
}
.row-6-col-3 ul li a {
  color: #bec3be;
  transition: 0.5s;
}
.row-6-col-3 ul li a:hover {
  color: #5247e8;
  transition: 0.5s;
}
.row-6-col-4 {
  background-color: #212221;
}
/****** ADAPTIVE ******/
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #rectangle,
  #rectangle-2,
  #rectangle-3,
  #rectangle-4 {
    background-color: #241d7a;
    width: 120px;
    height: 1775px;
    position: absolute;
    margin-right: 25px;
    z-index: 1;
  }
  #rectangle-2 {
    height: 734.34px;
  }
  #rectangle-3 {
    height: 1460px;
  }
  #rectangle-4 {
    height: 818.88px;
  }
  /****** MODAL ******/
  .modal-body img {
    width: 100px;
    height: 100px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 {
    height: 225px;
  }
  .row-1-col-1 img {
    height: auto;
  }
  .row-1-col-2 h1 {
    margin-top: 53px;
  }
  .row-1-col-3 {
    height: 600px;
  }
  .row-1-col-3 img {
    width: 300px;
    height: 219px;
    margin-top: 60px;
  }
  .row-1-col-3 h4 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 650px;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p,
  .row-2-col-1 button {
    position: relative;
    z-index: 5;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-left: 0;
    color: #fff;
  }
  .row-2-col-1 h1 {
    margin-top: -50px;
    font-size: 36px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 p {
    font-size: 17px;
  }
  .row-2-col-2 {
    background-color: #bec3be;
  }
  .row-2-col-2 img,
  .row-2-col-3 img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-2-col-2 img {
    width: 310px;
    height: 510px;
    display: block;
    margin: -50px 25px 0 auto;
  }
  .row-2-col-3 img {
    width: 310px;
    height: 435px;
    display: block;
    margin: 35px 25px 35px auto;
  }
  /****** ROW 3 ******/
  .row-3-col-1 {
    display: none;
  }
  .row-3-col-2 {
    background-color: #212221;
  }
  .row-3-col-2 img {
    width: 310px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 35px 25px 35px auto;
  }
  .row-3-col-2 img,
  .row-3-col-3 h5,
  .row-3-col-3 p,
  .row-3-col-3 button {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-3-col-3 h5 {
    font-size: 16px;
  }
  .row-3-col-3 p {
    font-size: 16px;
  }
  .row-3-col-3 button {
    margin-bottom: 60px;
  }
  /****** ROW 4 ******/
  .row-4-col-2 {
    height: 225px;
  }
  .row-4-col-2 h1 {
    font-size: 28px;
    margin: 65px 0 0 0;
  }
  .row-4-col-3 img {
    height: auto;
  }
  /****** ROW 5 ******/
  .row-5-col-1 p {
    font-size: 16px;
    text-align: left;
    margin: -170px 0 0 25px;
  }
  .row-5-col-1 p br {
    display: none;
  }
  .row-5-col-1 button {
    margin: 15px auto;
  }
  .row-5-col-1 img {
    width: 300px;
    height: 230px;
    object-fit: cover;
    display: block;
    margin: -240px 25px 0 auto;
  }
  .row-5-col-2 {
    background-color: #bec3be;
  }
  .row-5-col-2 img {
    width: 300px;
    height: 460px;
    display: block;
    margin: -230px 25px 0 auto;
  }
  .row-5-col-1 p,
  .row-5-col-1 button,
  .row-5-col-1 img,
  .row-5-col-2 img,
  .row-5-col-3 h1,
  .row-5-col-3 p {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-5-col-3 h1 {
    font-size: 32px;
    margin: 25px auto 0 auto;
  }
  .row-5-col-3 h5 {
    font-size: 16px;
  }
  .row-5-col-3 p {
    font-size: 15px;
  }
  .row-5-col-3 p:last-child {
    margin-bottom: 25px;
  }
  /****** ROW 6 ******/
  .row-6-col-1 {
    display: none;
  }
  .row-6-col-2 {
    background-color: #212221;
  }
  .row-6-col-2 img {
    width: 300px;
    display: block;
    margin: 50px 25px 0 auto;
  }
  .row-6-col-2 img,
  .row-6-col-3 h1,
  .row-6-col-3 h5,
  .row-6-col-3 p,
  .row-6-col-3 ul li {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .row-6-col-3 h1 {
    font-size: 38px;
    margin: 30px auto 0 auto;
  }
  .row-6-col-3 h5 {
    font-size: 16px;
    margin: 20px auto 0 auto;
  }
  .row-6-col-3 p {
    font-size: 15px;
    margin: 20px auto;
  }
  /****** FOOTER ******/
  footer a {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  /****** CONTACT ******/
  .row-5-col-3 form,
  .row-5-col-3 h1 {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #rectangle,
  #rectangle-2,
  #rectangle-3,
  #rectangle-4 {
    background-color: #241d7a;
    width: 200px;
    height: 2005px;
    position: absolute;
    margin-right: 72px;
    z-index: 1;
  }
  #rectangle-2 {
    height: 938.98px;
  }
  #rectangle-3 {
    height: 1632.08px;
  }
  #rectangle-4 {
    height: 794.28px;
  }
  /****** MODAL ******/
  .modal-body img {
    width: 125px;
    height: 125px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 {
    height: 225px;
  }
  .row-1-col-1 img {
    width: 100%;
    height: auto;
  }
  .row-1-col-2 h1 {
    margin-top: 53px;
  }
  .row-1-col-3 {
    height: 600px;
  }
  .row-1-col-3 img {
    width: 350px;
    height: 269px;
    margin-top: 15px;
  }
  .row-1-col-3 h4 {
    font-size: 24px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 650px;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p,
  .row-2-col-1 button {
    position: relative;
    z-index: 5;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    color: #fff;
    margin-left: 0;
  }
  .row-2-col-1 h1 {
    font-size: 36px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 p {
    font-size: 17px;
  }
  .row-2-col-2 {
    background-color: #bec3be;
  }
  .row-2-col-2 img,
  .row-2-col-3 img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .row-2-col-2 img {
    width: 450px;
    height: 650px;
    display: block;
    margin: 0 72px 0 auto;
  }
  .row-2-col-3 img {
    width: 450px;
    height: 575px;
    display: block;
    margin: 65px 72px 65px auto;
  }
  /****** ROW 3 ******/
  .row-3-col-1 {
    display: none;
  }
  .row-3-col-2 {
    background-color: #212221;
  }
  .row-3-col-2 img {
    width: 450px;
    height: 390px;
    object-fit: cover;
    display: block;
    margin: 65px 72px 65px auto;
  }
  .row-3-col-2 img,
  .row-3-col-3 h5,
  .row-3-col-3 p,
  .row-3-col-3 button {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .row-3-col-3 h5 {
    font-size: 18px;
    margin: 35px 0 0 10px;
  }
  .row-3-col-3 p {
    font-size: 18px;
  }
  .row-3-col-3 button {
    margin-bottom: 60px;
  }
  /****** ROW 4 ******/
  .row-4-col-2 {
    height: 225px;
  }
  .row-4-col-2 h1 {
    font-size: 30px;
    margin: 70px 0 0 0;
  }
  .row-4-col-3 img {
    width: 100%;
    height: auto;
  }
  /****** ROW 5 ******/
  .row-5-col-1 p {
    text-align: center;
    margin-top: -180px;
  }
  .row-5-col-1 p br {
    display: none;
  }
  .row-5-col-1 button {
    margin: 0;
  }
  .row-5-col-1 img {
    width: 350px;
    height: 280px;
    display: block;
    margin-top: -150px;
  }
  .row-5-col-2 {
    background-color: #bec3be;
  }
  .row-5-col-2 img {
    width: 450px;
    height: 600px;
    display: block;
    margin: -180px 0 0 60px;
  }
  .row-5-col-1 p,
  .row-5-col-1 button,
  .row-5-col-1 img,
  .row-5-col-2 img,
  .row-5-col-3 h1,
  .row-5-col-3 p {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-5-col-3 h1 {
    font-size: 36px;
    margin: 40px auto 0 auto;
  }
  .row-5-col-3 h5 {
    font-size: 18px;
  }
  .row-5-col-3 p {
    font-size: 17px;
  }
  .row-5-col-3 p:last-child {
    margin-bottom: 1110px;
  }
  /****** ROW 6 ******/
  .row-6-col-1 {
    display: none;
  }
  .row-6-col-2 {
    background-color: #212221;
  }
  .row-6-col-2 img {
    width: 440px;
    display: block;
    margin: 50px 72px 0 auto;
  }
  .row-6-col-2 img,
  .row-6-col-3 h1,
  .row-6-col-3 h5,
  .row-6-col-3 p,
  .row-6-col-3 ul li {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .row-6-col-3 h1 {
    font-size: 38px;
    margin: 30px auto 0 auto;
  }
  .row-6-col-3 h5 {
    font-size: 16px;
    margin: 20px 10px 0 10px;
  }
  .row-6-col-3 p {
    font-size: 15px;
    margin: 20px auto;
  }
  /****** FOOTER ******/
  footer a {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  /****** CONTACT ******/
  .row-5-col-3 form,
  .row-5-col-3 h1 {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /****** MODAL ******/
  .modal-body img {
    width: 150px;
    height: 150px;
  }
  /****** ROW 1 ******/
  .row-1-col-1 img {
    height: 913px;
    object-fit: cover;
  }
  .row-1-col-2 h1 {
    font-size: 35px;
  }
  .row-1-col-3 h4 {
    font-size: 17px;
  }
  .row-1-col-3 img {
    width: 300px;
    object-fit: cover;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 700px;
  }
  .row-2-col-1 h1 {
    font-size: 32px;
  }
  .row-2-col-1 h4 {
    font-size: 14px;
  }
  .row-2-col-1 p {
    font-size: 13px;
  }
  .row-2-col-2 img {
    width: 200px;
    height: 400px;
    right: 20px;
    bottom: 120px;
  }
  .row-2-col-3 img {
    width: 215px;
    height: 290px;
    top: 310px;
    right: 60px;
  }
  /****** ROW 3 ******/
  .row-3-col-2 img {
    width: 350px;
    height: 470px;
    object-fit: cover;
    top: 130px;
    right: 154px;
  }
  .row-3-col-3 h5 {
    font-size: 16px;
    margin: 0 0 0 15px;
  }
  .row-3-col-3 p {
    font-size: 16px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 img,
  .row-4-col-2,
  .row-4-col-3 img {
    height: 500px;
  }
  .row-4-col-2 h1 {
    font-size: 25px;
    margin: 85px 5px 0 5px;
  }
  /****** ROW 5 ******/
  .row-5-col-1 p {
    font-size: 16px;
    margin: 60px 115px 0 20px;
  }
  .row-5-col-1 button {
    margin-top: 20px;
    margin-left: -15px;
  }
  .row-5-col-1 img {
    width: 230px;
    height: 270px;
    margin-top: 80px;
  }
  .row-5-col-2 img {
    width: 240px;
    height: 370px;
    right: -10px;
    bottom: 55px;
  }
  .row-5-col-3 h1,
  .row-5-col-3 p {
    right: 60px;
  }
  .row-5-col-3 h1 {
    font-size: 36px;
  }
  .row-5-col-3 h5 {
    font-size: 16px;
  }
  .row-5-col-3 p {
    font-size: 15px;
  }
  /****** ROW 6 ******/
  .row-6-col-2 img {
    width: 350px;
    right: 152px;
  }
  .row-6-col-3 h1 {
    font-size: 36px;
  }
  .row-6-col-3 h5 {
    font-size: 15px;
  }
  .row-6-col-3 p {
    font-size: 14px;
  }
  /****** CONTACT ******/
  .row-5-col-3 form,
  .row-5-col-3 h1 {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /****** MODAL ******/
  .modal-body img {
    width: 250px;
    height: 250px;
  }
  /****** ROW 1 ******/
  .row-1-col-1 img {
    height: 828px;
    object-fit: cover;
  }
  .row-1-col-2 h1 {
    font-size: 35px;
  }
  .row-1-col-3 h4 {
    font-size: 25px;
  }
  .row-1-col-3 img {
    width: 400px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-right: 80px;
  }
  .row-2-col-1 h1 {
    font-size: 34px;
  }
  .row-2-col-1 h4 {
    font-size: 16px;
  }
  .row-2-col-1 p {
    font-size: 14px;
  }
  .row-2-col-1 button {
    margin-right: 80px;
  }
  .row-2-col-2 img {
    width: 250px;
    height: 450px;
    right: 120px;
    bottom: 120px;
  }
  .row-2-col-3 img {
    width: 215px;
    height: 290px;
    top: 250px;
    right: 100px;
  }
  /****** ROW 3 ******/
  .row-3-col-2 img {
    width: 400px;
    height: 490px;
    top: 130px;
    right: 152px;
  }
  .row-3-col-3 h5 {
    font-size: 16px;
  }
  .row-3-col-3 p {
    font-size: 18px;
  }
  /****** ROW 4 ******/
  .row-4-col-2 h1 {
    font-size: 34px;
    margin: 200px 13px 0 13px;
  }
  /****** ROW 5 ******/
  .row-5-col-1 p {
    margin-top: 60px;
    margin-right: 120px;
  }
  .row-5-col-1 button {
    margin-right: 335px;
  }
  .row-5-col-1 img {
    width: 230px;
    height: 250px;
  }
  .row-5-col-2 img {
    width: 255px;
    height: 400px;
    right: 125px;
    bottom: 55px;
  }
  .row-5-col-3 h1,
  .row-5-col-3 p {
    right: 80px;
  }
  .row-5-col-3 h1 {
    font-size: 36px;
  }
  .row-5-col-3 p {
    font-size: 17px;
  }
  /****** ROW 6 ******/
  .row-6-col-2 img {
    width: 400px;
    right: 152px;
  }
  .row-6-col-3 h1 {
    font-size: 36px;
  }
  .row-6-col-3 h5 {
    font-size: 17px;
  }
  .row-6-col-3 p {
    font-size: 16px;
  }
  /****** CONTACT ******/
  .row-5-col-3 form,
  .row-5-col-3 h1 {
    display: none;
  }
}

/* Extra large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /****** ROW 1 ******/
  .row-1-col-1 img {
    object-fit: cover;
  }
  .row-1-col-2 h1 {
    margin-top: 525px;
  }
  .row-1-col-3 h4 {
    font-size: 22px;
    margin-top: 80px;
  }
  .row-1-col-3 img {
    width: 400px;
    height: 319px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-right: 150px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 button {
    margin-right: 180px;
  }
  .row-2-col-2 img {
    width: 325px;
    height: 575px;
    right: 150px;
  }
  .row-2-col-3 img {
    width: 275px;
    height: 350px;
    top: 250px;
    right: 100px;
  }
  /****** ROW 3 ******/
  .row-3-col-2 img {
    width: 520px;
    height: 500px;
    top: 100px;
    right: 224px;
  }
  /****** ROW 4 ******/
  .row-4-col-2 h1 {
    font-size: 34px;
    margin: 265px 13px 0 13px;
  }
  /****** ROW 5 ******/
  .row-5-col-1 p {
    margin-right: 150px;
  }
  .row-5-col-1 button {
    margin-right: 365px;
  }
  .row-5-col-1 img {
    width: 230px;
    height: 250px;
    margin-top: 70px;
    margin-right: 140px;
  }
  .row-5-col-2 img {
    width: 320px;
    height: 500px;
    right: 175px;
    bottom: 55px;
  }
  .row-5-col-3 h1,
  .row-5-col-3 p {
    right: 125px;
  }
  .row-5-col-3 h1 {
    font-size: 39px;
  }
  /****** ROW 6 ******/
  .row-6-col-2 img {
    width: 470px;
    right: 169px;
  }
  /****** CONTACT ******/
  .row-5-col-3 form,
  .row-5-col-3 h1 {
    display: none;
  }
}

/* 
	Fonts: 
	'Lato', sans-serif
	'Oswald', sans-serif;
	'Open Sans', sans-serif
	Georgia, serif

	Colors: 
	#44449b - Dark Blue
	#212221 - Dark Gray
	#bec3be - Light Gray
	
	#5247e8 - Medium Blue (Logo)
	#241d7a - Dark Blue (Logo)
*/
