body,
html {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}
main {
  flex: 1 1 auto;
}
img {
  pointer-events: none;
}
ul {
  list-style: none;
}
.wrapper {
  min-height: 100%;
}
.btn {
  border-radius: 0;
}
/****** ANCHORS ******/
a.anchor,
a.anchor2 {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
a.anchor2 {
  display: none;
  top: -185px;
}
/****** MODAL ******/
.modal-body img {
  width: 350px;
  height: 350px;
}
/****** NAVBAR ******/
header {
  height: 106px;
}
.navbar-light {
  background-color: #e3f2fd;
  opacity: 0.9;
}
.navbar-brand img {
  width: 160px;
  height: 80px;
  transition: height 0.33s, width 0.33s;
}
nav ul li a {
  color: #000;
  font-size: 21px;
  text-decoration: none;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #5247e8;
  transition: 0.3s;
}
/****** LANGUAGES ******/
.languages {
  list-style: none;
  margin-top: 14px;
  padding: 0;
}
.languages li button {
  margin-right: 5px;
  padding-left: 40px;
  position: relative;
}
button[value="en"]::before,
button[value="ru"]::before,
button[value="lv"]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 11px;
  bottom: 3px;
}
button[value="en"]::before {
  background-image: url("../img/en.2850ad9eb436.svg");
}
button[value="ru"]::before {
  background-image: url("../img/ru.1759ee228f53.svg");
}
button[value="lv"]::before {
  background-image: url("../img/lv.a83795f2b3bd.svg");
}
/****** COOKIES ******/
#CookielawBanner {
  transition: all 0.4s ease-out;
}
.cookie {
  color: #fff;
  text-align: center;
  position: fixed;
  left: 25px;
  bottom: 25px;
  max-width: 411px;
  background-color: #06d6a0;
  border-radius: 13px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
  opacity: 0.85;
  padding: 15px;
  z-index: 1000;
}
.cookie h3 {
  margin-left: 30px;
  text-align: left;
}
.cookie h3::before {
  content: "";
  background-image: url("../img/cookie-icon.8a6fdcac8b55.svg");
  position: absolute;
  top: 15px;
  left: 15px;
  width: 33px;
  height: 33px;
}
.cookie p {
  color: #000;
  font-weight: bold;
  text-align: center;
}
/****** ROW 1 ******/
.row-1-col-1 {
  background-image: url("../img/img1.14d7f33d82bb.jpg");
  background-position: top;
  height: 800px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
.row-1-col-2 {
  background-color: #241d7a;
}
.row-1-col-2 h1 {
  color: #fff;
  font-size: 46px;
  margin-top: 440px;
}
.row-1-col-3 {
  background-color: #212221;
}
.row-1-col-3 h4 {
  color: #fff;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 6px;
  margin: 35px 30px 0 30px;
}
.row-1-col-3 img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 90px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
/****** ROW 2 ******/
.row-2-col-1 {
  background-color: #bec3be;
  height: 865px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-2-col-1 h1 {
  font-size: 52px;
}
.row-2-col-1 h4 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.6;
  margin-top: 10px;
}
.row-2-col-1 p {
  font-size: 17px;
}
.row-2-col-1 .mobile {
  display: none;
}
.row-2-col-2 {
  background-color: #241d7a;
}
.row-2-col-2 img {
  width: 385px;
  border-radius: 6px;
  position: relative;
  right: 80px;
  bottom: 80px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
.row-2-col-3 {
  background-color: #bec3be;
}
.row-2-col-3 img {
  width: 400px;
  border-radius: 6px;
  position: relative;
  top: 525px;
  left: 35px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
/****** ROW 3 ******/
.row-3-col-1 {
  height: 700px;
  background-color: #212221;
}
.row-3-col-2 {
  background-color: #241d7a;
}
.row-3-col-2 img {
  width: 575px;
  border-radius: 6px;
  position: relative;
  top: 130px;
  right: 360px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
.row-3-col-3 {
  background-color: #212221;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-3-col-3 h5 {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 4px;
  margin: 20px 15px 0 15px;
}
.row-3-col-3 p {
  color: #fff;
  font-size: 17px;
}
.row-3-col-3 button {
  border: none;
  background-color: #241d7a;
}
.row-3-col-4 {
  background-color: #212221;
}
/****** ROW 4 ******/
.row-4-col-1 {
  background-image: url("../img/img6.091d5e018c59.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
.row-4-col-2 {
  height: 600px;
  background-color: #241d7a;
}
.row-4-col-2 h1 {
  color: #fff;
  font-size: 30px;
  margin: 250px 13px 0 13px;
}
.row-4-col-3 {
  background-image: url("../img/img7.45f558bff124.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
/****** ROW 5 ******/
.row-5-col-1 {
  background-color: #bec3be;
}
.row-5-col-1 h1 {
  font-size: 52px;
  margin: 65px auto 30px auto;
}
.row-5-col-1 input[type="text"],
.row-5-col-1 input[type="email"],
.row-5-col-1 textarea {
  background: none !important;
  width: 400px !important;
  height: 40px;
  border: 2px solid #241d7a !important;
  border-radius: 6px !important;
}
.row-5-col-1 textarea {
  height: 150px;
  resize: none;
  padding-top: 15px !important;
}
.row-5-col-1 form img {
  cursor: pointer;
  pointer-events: all;
  display: block;
  margin: 0 auto 20px auto;
}
.row-5-col-2 {
  background-color: #241d7a;
}
.row-5-col-2 img {
  width: 360px;
  border-radius: 6px;
  position: relative;
  bottom: 50px;
  right: 70px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
.row-5-col-3 {
  height: 715px;
  background-color: #bec3be;
  display: flex;
  align-items: center;
}
.row-5-col-3 img {
  width: 380px;
  position: relative;
  top: 50px;
  right: -75px;
  border-radius: 6px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
/****** ROW 6 ******/
.row-6-col-1 {
  height: 605px;
  background-color: #212221;
}
.row-6-col-2 {
  background-color: #241d7a;
}
.row-6-col-2 img {
  width: 525px;
  border-radius: 6px;
  position: relative;
  top: 130px;
  right: 250px;
  filter: drop-shadow(0 0 0.75rem #5247e8);
}
.row-6-col-3 {
  background-color: #212221;
}
.row-6-col-3 h1 {
  color: #fff;
  font-size: 56px;
  margin-top: 135px;
  margin-left: 75px;
}
.row-6-col-3 h5 {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 6px;
  margin-left: 85px;
}
.row-6-col-3 p {
  color: #fff;
  margin-left: 85px;
}
.row-6-col-3 ul {
  margin-left: 55px;
}
.row-6-col-3 ul li a {
  color: #bec3be;
  transition: 0.5s;
}
.row-6-col-3 ul li a:hover {
  color: #5247e8;
  transition: 0.5s;
}
.row-6-col-4 {
  background-color: #212221;
}

/****** ADAPTIVE ******/
@media (min-width: 359.98px) and (max-width: 425.97px) {
  #rectangle-1,
  #rectangle-2,
  #rectangle-3,
  #rectangle-4 {
    background-color: #241d7a;
    width: 120px;
    height: 1446.25px;
    position: absolute;
    right: 0;
    margin-right: 25px;
    z-index: 1;
  }
  #rectangle-2 {
    height: 742.3px;
  }
  #rectangle-3 {
    height: 939.7px;
  }
  #rectangle-4 {
    height: 698.7px;
  }
  /****** MODAL ******/
  .modal-body img {
    width: 80px;
    height: 80px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 {
    height: 225px;
  }
  .row-1-col-2 h1 {
    margin-top: 53px;
  }
  .row-1-col-3 {
    height: 720px;
  }
  .row-1-col-3 img {
    width: 345px;
    margin-top: 60px;
  }
  .row-1-col-3 h4 {
    font-size: 16px;
    margin: 35px 20px 0 20px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 650px;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p,
  .row-2-col-1 a {
    position: relative;
    z-index: 5;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-left: 0;
    color: #9f86c0;
  }
  .row-2-col-1 p {
    margin-right: 15px;
    margin-left: 15px;
  }
  .row-2-col-1 h1 {
    margin-top: -50px;
    font-size: 36px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 p {
    font-size: 17px;
  }
  .row-2-col-1 .pc {
    display: none;
  }
  .row-2-col-1 .mobile {
    display: block;
  }
  a.anchor2 {
    display: block;
    top: -140px;
  }
  .row-2-col-2 {
    background-color: #bec3be;
  }
  .row-2-col-2 img,
  .row-2-col-3 img {
    width: 345px;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-2-col-2 img {
    display: block;
    margin: -50px auto 0 auto;
  }
  .row-2-col-3 img {
    display: block;
    margin: 35px auto;
  }
  /****** ROW 3 ******/
  .row-3-col-1 {
    display: none;
  }
  .row-3-col-2 {
    background-color: #212221;
  }
  .row-3-col-2 img {
    width: 350px;
    height: 250px;
    display: block;
    margin: 35px auto;
  }
  .row-3-col-2 img,
  .row-3-col-3 h5,
  .row-3-col-3 p,
  .row-3-col-3 button {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-3-col-3 h5 {
    font-size: 14px;
  }
  .row-3-col-3 p {
    font-size: 16px;
  }
  .row-3-col-3 button {
    margin-bottom: 40px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 {
    height: 300px;
  }
  .row-4-col-2 {
    height: 225px;
  }
  .row-4-col-2 h1 {
    font-size: 24px;
    margin: 55px 13px 0 13px;
  }
  .row-4-col-3 {
    height: 400px;
  }
  /****** ROW 5 ******/
  .row-5-col-2 {
    background-color: #bec3be;
  }
  .row-5-col-2 img {
    width: 345px;
    display: block;
    margin: 80px auto 0 auto;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  .row-5-col-3 {
    height: 400px;
  }
  .row-5-col-3 img {
    width: 345px;
    height: 300px;
    display: block;
    margin: 0 auto;
    top: 0;
    right: 0;
    z-index: 5;
  }
  /****** ROW 6 ******/
  .row-6-col-1 {
    display: none;
  }
  .row-6-col-2 {
    background-color: #212221;
  }
  .row-6-col-2 img {
    width: 345px;
    display: block;
    margin: 50px auto 0 auto;
  }
  .row-6-col-2 img,
  .row-6-col-3 h1,
  .row-6-col-3 h5,
  .row-6-col-3 p,
  .row-6-col-3 ul li {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-6-col-3 h1 {
    font-size: 38px;
    margin: 30px auto 0 auto;
  }
  .row-6-col-3 h5 {
    font-size: 16px;
    margin: 20px auto 0 auto;
  }
  .row-6-col-3 p {
    font-size: 15px;
    margin: 20px auto;
  }
  .row-6-col-3 ul {
    margin-left: 0;
    padding: 0;
  }
  /****** FOOTER ******/
  footer a {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  footer p {
    position: relative;
    z-index: 5;
  }
  /****** CONTACT ******/
  .row-5-col-1 form,
  .row-5-col-1 h1,
  #contactUs,
  .anchor.pc {
    display: none;
  }
  .cookie {
    max-width: 345px;
    left: 20px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 426px) and (max-width: 575.98px) {
  #rectangle-1,
  #rectangle-2,
  #rectangle-3,
  #rectangle-4 {
    background-color: #241d7a;
    width: 120px;
    height: 1660px;
    position: absolute;
    right: 0;
    margin-right: 25px;
    z-index: 1;
  }
  #rectangle-2 {
    height: 762.3px;
  }
  #rectangle-3 {
    height: 1141.47px;
  }
  #rectangle-4 {
    height: 676.7px;
  }
  /****** MODAL ******/
  .modal-body img {
    width: 110px;
    height: 110px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 {
    height: 225px;
  }
  .row-1-col-2 h1 {
    margin-top: 53px;
  }
  .row-1-col-3 {
    height: 620px;
  }
  .row-1-col-3 img {
    margin-top: 60px;
  }
  .row-1-col-3 h4 {
    font-size: 16px;
    margin: 25px 10px 0 10px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 650px;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p,
  .row-2-col-1 a {
    position: relative;
    z-index: 5;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-left: 0;
    color: #9f86c0;
  }
  .row-2-col-1 h1 {
    margin-top: -50px;
    font-size: 36px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 p {
    font-size: 17px;
  }
  .row-2-col-1 .pc {
    display: none;
  }
  .row-2-col-1 .mobile {
    display: block;
  }
  a.anchor2 {
    display: block;
  }
  .row-2-col-2 {
    background-color: #bec3be;
  }
  .row-2-col-2 img,
  .row-2-col-3 img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-2-col-2 img {
    display: block;
    margin: -80px auto 0 auto;
  }
  .row-2-col-3 img {
    display: block;
    margin: 35px auto;
  }
  /****** ROW 3 ******/
  .row-3-col-1 {
    display: none;
  }
  .row-3-col-2 {
    background-color: #212221;
  }
  .row-3-col-2 img {
    width: 350px;
    height: 250px;
    display: block;
    margin: 35px auto;
  }
  .row-3-col-2 img,
  .row-3-col-3 h5,
  .row-3-col-3 p,
  .row-3-col-3 button {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-3-col-3 h5 {
    font-size: 14px;
  }
  .row-3-col-3 p {
    font-size: 16px;
  }
  .row-3-col-3 button {
    margin-bottom: 60px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 {
    height: 425px;
  }
  .row-4-col-2 {
    height: 225px;
  }
  .row-4-col-2 h1 {
    font-size: 24px;
    margin: 60px 13px 0 13px;
  }
  .row-4-col-3 {
    height: 550px;
  }
  /****** ROW 5 ******/
  .row-5-col-2 {
    background-color: #bec3be;
  }
  .row-5-col-2 img {
    left: 0;
    bottom: -60px;
    display: block;
    margin: 0 auto;
    z-index: 5;
  }
  .row-5-col-3 {
    height: 550px;
  }
  .row-5-col-3 img {
    width: 340px;
    height: 300px;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin: 0 auto;
  }
  /****** ROW 6 ******/
  .row-6-col-1 {
    display: none;
  }
  .row-6-col-2 {
    background-color: #212221;
  }
  .row-6-col-2 img {
    width: 350px;
    display: block;
    margin: 50px auto 0 auto;
  }
  .row-6-col-2 img,
  .row-6-col-3 h1,
  .row-6-col-3 h5,
  .row-6-col-3 p,
  .row-6-col-3 ul li {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-6-col-3 h1 {
    font-size: 38px;
    margin: 30px auto 0 auto;
  }
  .row-6-col-3 h5 {
    font-size: 16px;
    margin: 20px auto 0 auto;
  }
  .row-6-col-3 p {
    font-size: 15px;
    margin: 20px auto;
  }
  .row-6-col-3 ul {
    margin-left: 0;
    padding: 0;
  }
  /****** FOOTER ******/
  footer a {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  footer p {
    position: relative;
    z-index: 5;
  }
  /****** CONTACT ******/
  .row-5-col-1 form,
  .row-5-col-1 h1,
  #contactUs,
  .anchor.pc {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #rectangle-1,
  #rectangle-2,
  #rectangle-3,
  #rectangle-4 {
    background-color: #241d7a;
    width: 200px;
    height: 1657.5px;
    position: absolute;
    right: 0;
    margin-right: 72px;
    z-index: 1;
  }
  #rectangle-2 {
    height: 1004.4px;
  }
  #rectangle-3 {
    height: 1101.47px;
  }
  #rectangle-4 {
    height: 796.02px;
  }
  /****** MODAL ******/
  .modal-body img {
    width: 140px;
    height: 140px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 {
    height: 225px;
  }
  .row-1-col-2 h1 {
    margin-top: 58px;
  }
  .row-1-col-3 {
    height: 650px;
  }
  .row-1-col-3 img {
    margin-top: 60px;
  }
  .row-1-col-3 h4 {
    font-size: 20px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 650px;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p,
  .row-2-col-1 a {
    position: relative;
    z-index: 5;
  }
  .row-2-col-1 .pc {
    display: none;
  }
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    color: #9f86c0;
    margin-left: 0;
  }
  .row-2-col-1 h1 {
    font-size: 36px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 p {
    font-size: 17px;
  }
  .row-2-col-1 .mobile {
    display: block;
  }
  a.anchor2 {
    display: block;
    top: -90px;
  }
  .row-2-col-2 {
    background-color: #bec3be;
  }
  .row-2-col-2 img,
  .row-2-col-3 img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-2-col-2 img {
    display: block;
    margin: 0 auto;
  }
  .row-2-col-3 img {
    display: block;
    margin: 65px auto;
  }
  /****** ROW 3 ******/
  .row-3-col-1 {
    display: none;
  }
  .row-3-col-2 {
    background-color: #212221;
  }
  .row-3-col-2 img {
    display: block;
    margin: 40px auto;
  }
  .row-3-col-2 img,
  .row-3-col-3 h5,
  .row-3-col-3 p,
  .row-3-col-3 button {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-3-col-3 h5 {
    font-size: 18px;
  }
  .row-3-col-3 p {
    font-size: 18px;
  }
  .row-3-col-3 button {
    margin-bottom: 60px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 {
    height: 565px;
  }
  .row-4-col-2 {
    height: 225px;
  }
  .row-4-col-2 h1 {
    font-size: 30px;
    margin: 60px 13px 0 13px;
  }
  .row-4-col-3 {
    height: 750px;
  }
  /****** ROW 5 ******/
  .row-5-col-2 {
    background-color: #bec3be;
  }
  .row-5-col-2 img {
    left: 0;
    bottom: -60px;
    display: block;
    margin: 0 auto;
    z-index: 5;
  }
  .row-5-col-3 {
    height: 550px;
  }
  .row-5-col-3 img {
    top: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    z-index: 5;
  }
  /****** ROW 6 ******/
  .row-6-col-1 {
    display: none;
  }
  .row-6-col-2 {
    background-color: #212221;
  }
  .row-6-col-2 img {
    display: block;
    margin: 50px auto 0 auto;
  }
  .row-6-col-2 img,
  .row-6-col-3 h1,
  .row-6-col-3 h5,
  .row-6-col-3 p,
  .row-6-col-3 ul li {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .row-6-col-3 h1 {
    font-size: 38px;
    margin: 30px auto 0 auto;
  }
  .row-6-col-3 h5 {
    font-size: 16px;
    margin: 20px 10px 0 10px;
  }
  .row-6-col-3 p {
    margin: 20px auto;
  }
  .row-6-col-3 ul {
    margin-left: -35px;
  }
  /****** FOOTER ******/
  footer a {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  footer p {
    position: relative;
    z-index: 5;
  }
  /****** CONTACT ******/
  .row-5-col-1 form,
  .row-5-col-1 h1,
  #contactUs,
  .anchor.pc {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /****** MODAL ******/
  .modal-body img {
    width: 150px;
    height: 150px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 h1 {
    font-size: 34px;
    margin-top: 480px;
  }
  .row-1-col-3 h4 {
    font-size: 16px;
    margin: 45px 30px 0 30px;
  }
  .row-1-col-3 img {
    object-fit: cover;
  }
  /****** ROW 2 ******/
  .row-2-col-1 {
    height: 700px;
  }
  .row-2-col-1 h1 {
    font-size: 32px;
  }
  .row-2-col-1 h4 {
    font-size: 14px;
  }
  .row-2-col-1 p {
    font-size: 13px;
  }
  .row-2-col-1 .mobile {
    display: none;
  }
  .anchor2 {
    display: none;
  }
  .row-2-col-2 img {
    width: 285px;
    right: 20px;
  }
  .row-2-col-3 img {
    height: 255px;
    top: 400px;
    left: -45px;
  }
  /****** ROW 3 ******/
  .row-3-col-2 img {
    width: 350px;
    height: 250px;
    top: 160px;
    right: 150px;
  }
  .row-3-col-3 h5 {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .row-3-col-3 p {
    font-size: 16px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 {
    height: 365px;
  }
  .row-4-col-2 {
    height: 365px;
  }
  .row-4-col-2 h1 {
    font-size: 16px;
    margin: 150px 13px 0 13px;
  }
  .row-4-col-3 {
    height: 365px;
  }
  /****** ROW 5 ******/
  .row-5-col-1 {
    background-color: #bec3be;
  }
  .row-5-col-1 h1 {
    font-size: 48px;
    margin: 65px auto 30px auto;
  }
  .row-5-col-1 input[type="text"],
  .row-5-col-1 input[type="email"],
  .row-5-col-1 textarea {
    background: none !important;
    width: 350px !important;
    height: 40px;
    border: 2px solid #241d7a !important;
    border-radius: 6px !important;
  }
  .row-5-col-1 textarea {
    height: 150px;
    resize: none;
    padding-top: 15px !important;
  }
  .row-5-col-1 form img {
    cursor: pointer;
    pointer-events: all;
    display: block;
    margin: 0 auto 20px auto;
  }
  .row-5-col-2 img {
    width: 300px;
    top: 15px;
    left: 10px;
  }
  .row-5-col-3 img {
    height: 240px;
    top: 200px;
    left: -30px;
  }
  /****** ROW 6 ******/
  .row-6-col-2 img {
    width: 435px;
    right: 200px;
  }
  .row-6-col-3 h1 {
    font-size: 36px;
  }
  .row-6-col-3 h5 {
    font-size: 15px;
  }
  .row-6-col-3 p {
    font-size: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /****** MODAL ******/
  .modal-body img {
    width: 250px;
    height: 250px;
  }
  /****** ROW 1 ******/
  .row-1-col-2 h1 {
    font-size: 34px;
    margin-top: 470px;
  }
  .row-1-col-3 h4 {
    font-size: 20px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-right: 80px;
  }
  .row-2-col-1 h1 {
    font-size: 40px;
  }
  .row-2-col-1 h4 {
    font-size: 16px;
  }
  .row-2-col-1 p {
    font-size: 14px;
  }
  .row-2-col-1 a {
    margin-right: 80px;
  }
  .row-2-col-1 .mobile {
    display: none;
  }
  .anchor2 {
    display: none;
  }
  .row-2-col-2 img {
    width: 300px;
    height: 500px;
  }
  .row-2-col-3 img {
    height: 265px;
    left: -100px;
  }
  /****** ROW 3 ******/
  .row-3-col-2 img {
    width: 400px;
    height: 300px;
    top: 160px;
    right: 140px;
  }
  .row-3-col-3 h5 {
    font-size: 16px;
  }
  .row-3-col-3 p {
    font-size: 18px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 {
    height: 465px;
  }
  .row-4-col-2 {
    height: 465px;
  }
  .row-4-col-2 h1 {
    font-size: 30px;
    margin: 155px 13px 0 13px;
  }
  .row-4-col-3 {
    height: 465px;
  }
  /****** ROW 5 ******/
  .row-5-col-1 {
    background-color: #bec3be;
  }
  .row-5-col-1 h1 {
    font-size: 50px;
    margin: 30px auto;
  }
  .row-5-col-1 input[type="text"],
  .row-5-col-1 input[type="email"],
  .row-5-col-1 textarea {
    background: none !important;
    width: 400px !important;
    height: 40px;
    border: 2px solid #241d7a !important;
    border-radius: 6px !important;
  }
  .row-5-col-1 textarea {
    height: 150px;
    resize: none;
    padding-top: 15px !important;
  }
  .row-5-col-1 form img {
    cursor: pointer;
    pointer-events: all;
    display: block;
    margin: 0 auto 20px auto;
  }
  .row-5-col-2 img {
    width: 300px;
    top: 15px;
    right: 0;
    left: 15px;
    bottom: 0;
  }
  .row-5-col-3 img {
    height: 225px;
    top: 205px;
    left: -40px;
  }
  /****** ROW 6 ******/
  .row-6-col-2 img {
    width: 435px;
    right: 135px;
  }
  .row-6-col-3 h1 {
    font-size: 36px;
  }
  .row-6-col-3 h5 {
    font-size: 17px;
  }
  .row-6-col-3 p {
    font-size: 16px;
  }
}

/* Extra large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /****** ROW 1 ******/
  .row-1-col-2 h1 {
    margin-top: 450px;
  }
  .row-1-col-3 h4 {
    font-size: 22px;
    margin-top: 45px;
  }
  /****** ROW 2 ******/
  .row-2-col-1 h1,
  .row-2-col-1 h4,
  .row-2-col-1 p {
    margin-right: 150px;
  }
  .row-2-col-1 h4 {
    font-size: 18px;
  }
  .row-2-col-1 a {
    margin-right: 160px;
  }
  .row-2-col-1 .mobile {
    display: none;
  }
  .anchor2 {
    display: none;
  }
  .row-2-col-2 img {
    right: 130px;
  }
  .row-2-col-3 img {
    height: 300px;
    left: -45px;
  }
  /****** ROW 3 ******/
  .row-3-col-2 img {
    width: 500px;
    height: 400px;
    right: 200px;
  }
  /****** ROW 4 ******/
  .row-4-col-1 {
    height: 500px;
  }
  .row-4-col-2 {
    height: 500px;
  }
  .row-4-col-2 h1 {
    font-size: 30px;
    margin: 215px 13px 0 13px;
  }
  .row-4-col-3 {
    height: 500px;
  }
  /****** ROW 5 ******/
  .row-5-col-1 {
    background-color: #bec3be;
  }
  .row-5-col-1 h1 {
    font-size: 52px;
    margin: 30px auto;
  }
  .row-5-col-1 input[type="text"],
  .row-5-col-1 input[type="email"],
  .row-5-col-1 textarea {
    background: none !important;
    width: 400px !important;
    height: 40px;
    border: 2px solid #241d7a !important;
    border-radius: 6px !important;
  }
  .row-5-col-1 textarea {
    height: 150px;
    resize: none;
    padding-top: 15px !important;
  }
  .row-5-col-1 form img {
    cursor: pointer;
    pointer-events: all;
    display: block;
    margin: 0 auto 20px auto;
  }
  .row-5-col-3 img {
    height: 245px;
    top: 210px;
    left: -75px;
  }
  /****** ROW 6 ******/
  .row-6-col-2 img {
    right: 200px;
  }
}

@media (min-width: 2200px) {
  nav ul li a {
    font-size: 24px;
  }
  .row-1-col-2 h1 {
    font-size: 72px;
    margin-top: 375px;
  }
  .row-1-col-3 h4 {
    font-size: 28px;
  }
  .row-1-col-3 img {
    width: 450px;
    height: 450px;
  }
  .row-2-col-1 h1 {
    font-size: 78px;
  }
  .row-2-col-1 h4 {
    font-size: 30px;
  }
  .row-2-col-1 p {
    font-size: 22px;
  }
  .row-2-col-1 a {
    font-size: 22px;
  }
  .row-2-col-2 img {
    width: 490px;
    right: 150px;
  }
  .row-2-col-3 img {
    width: 525px;
    top: 420px;
    left: 120px;
  }
  .row-3-col-2 img {
    width: 720px;
    top: 80px;
  }
  .row-3-col-3 h5 {
    font-size: 24px;
  }
  .row-3-col-3 p {
    font-size: 20px;
  }
  .row-3-col-3 button {
    font-size: 20px;
  }
  .row-4-col-2 h1 {
    font-size: 38px;
    margin: 215px 13px 0 13px;
  }
  .row-5-col-1 h1 {
    font-size: 66px;
    margin: 20px auto 30px auto;
  }
  .row-5-col-1 input[type="text"],
  .row-5-col-1 input[type="email"],
  .row-5-col-1 textarea {
    width: 510px !important;
    height: 50px;
  }
  .row-5-col-1 textarea {
    height: 150px;
  }
  .row-5-col-1 button {
    font-size: 20px;
  }
  .row-5-col-2 img {
    width: 475px;
    right: 100px;
  }
  .row-5-col-3 img {
    width: 580px;
  }
  .row-6-col-2 img {
    width: 650px;
    top: 100px;
  }
  .row-6-col-3 h1 {
    font-size: 74px;
    margin-top: 70px;
  }
  .row-6-col-3 h5 {
    font-size: 26px;
  }
  .row-6-col-3 p {
    font-size: 22px;
  }
  footer a,
  footer p {
    font-size: 24px;
  }
}
/* 
	#44449b - Dark Blue
	#212221 - Dark Gray
	#bec3be - Light Gray
	
	#5247e8 - Medium Blue (Logo)
	#241d7a - Dark Blue (Logo)
*/
