{% load static %}
{% load i18n %}
<div id="CookielawBanner">
	<div class="row cookie">
		<div class="col-12">
			<h3>Cookies</h3>
		</div>
		<div class="col-12">
			<p class="mb-1">{% blocktrans %}Informējam, ka šīs mājaslapas pilnvērtīgai darbībai tiek izmantotas
				sīkdatnes (angļu val. "cookies"). Turpinot izmantot šo mājas lapu,
				Jūs piekrītat to izmantošanai{% endblocktrans %}.<br>
			</p>
		</div>
		<div class="col-12">
			<a target="_blank" rel="noreferrer" href="https://ec.europa.eu/info/cookies_lv"
				class="link-primary fw-bold">
				{%blocktrans %}Kas
				ir cookies{% endblocktrans %}?</a>
		</div>
		<div class="col-12">
			<a href="javascript:Cookielaw.createCookielawCookie();" class="btn btn-dark mt-3">
				{% trans 'Piekrist un aizvērt' %}</a>
		</div>
	</div>
</div>

<script src="{% static 'js/cookielaw.js' %}"></script>