{% load static %}
{% load i18n %}
<div id="CookielawBanner">
	<div class="row position-fixed cookie">
		<div class="col-12">
			<h2 class="text-start text-white">Cookies</h2>
		</div>
		<div class="col-12">
			<p class="text-center fw-bold mb-1">{% blocktrans %}Mājaslapas pilnvērtīgai darbībai tiek izmantotas
				sīkdatnes (cookies). Turpinot izmantot lapu, Jūs piekrītat to izmantošanai.{% endblocktrans %}
			</p>
		</div>
		<div class="col-12">
			<a target="_blank" rel="noreferrer" href="https://ec.europa.eu/info/cookies_en" class="fw-bold">
				{% trans 'Kas ir cookies' %}?</a>
		</div>
		<div class="col-12">
			<a href="javascript:Cookielaw.createCookielawCookie();" class="btn btn-dark mt-2">
				{% trans 'Piekrist un aizvērt' %}</a>
		</div>
	</div>
</div>

<script src="{% static 'js/cookielaw.js' %}"></script>