<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h3 style="text-align:center">Jums pienāca ziņa no <a target="_blank" href="https://www.retrix.lv"
            rel="noreferrer">retrix.lv</a></h3>
    <div style="border: 1px solid black; width: 695px; margin: 0 auto">
        <p style="margin-left: 3px; margin-right: 3px"><strong>Sūtītāja vārds: </strong>{{ name }}</p>
        <p style="margin-left: 3px; margin-right: 3px"><strong>Sūtītāja e-pasts: </strong><a
                href="mailto:{{sender}}">{{sender}}</a></p>
        <p style="margin-left: 3px; margin-right: 3px"><strong>Teksts: </strong><br><i>{{ content }}</i></p>
    </div>
</body>

</html>