{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- ROW 1 -->
<div class="row">
	<div class="col-12 col-md-3 row-1-col-1"></div>
	<div class="col-12 col-md-3 row-1-col-2 text-center">
		<h1 class="mb-0">SIA</h1>
		<h1 class="my-0">"RETRIX"</h1>
	</div>
	<div class="col-12 col-md-6 row-1-col-3">
		<picture>
			<source srcset="{% static 'img/img2.webp' %}" type="image/webp" />
			<img src="{% static 'img/img2.jpg' %}" alt="LED lights image #2" class="img-fluid mx-auto d-block" />
		</picture>
		<h2 class="text-center">
			{% trans 'Uzņēmums nodarbojas ar LED lentu apgaismojuma montāžu, to vadības bloku programmēšanu' %}
			{% trans 'un specifisku, ar gaismekļiem un sensoriem aprīkotu produktu izstrādi' %}.</h2>
	</div>
</div>
<!-- ROW 2 -->
<div class="row">
	<a name="services" class="anchor-pc"></a>
	<div class="col-12 col-md-6 col-xxl-6 row-2-col-1 text-center">
		<h1 class="mb-0">{% trans 'Mūsu' %}</h1>
		<h1 class="mt-0">{% trans 'pakalpojumi' %}</h1>
		<h2>{% trans 'Virtuves apgaismojuma montāža' %}</h2>
		<p>{% trans 'Siltie un aukstie baltie toņi, ar slēdža vai sensora vadību' %}.</p>
		<h2 class="mb-0">{% trans 'Krāsainu LED lentu' %}</h2>
		<h2 class="mt-0">{% trans 'apgaismojuma montāža' %}</h2>
		<p>{% trans 'Telpās, uz fasādēm un mēbelēm' %}.</p>
		<h2 class="mb-0">{% trans 'Specifisku' %}</h2>
		<h2 class="mt-0">{% trans 'produktu izstrāde' %}</h2>
		<p>{% trans 'Ar LED apgaismojumu un sensoriem' %}.</p>
		<a href="#gallery" class="btn btn-dark pc">{% trans 'Skatīt vairāk' %}</a>
		<a href="#gallery_mobile" class="btn btn-dark mobile">{% trans 'Skatīt vairāk' %}</a>
	</div>
	<a name="gallery_mobile" class="anchor-mobile"></a>
	<div class="col-12 col-md-3 col-xxl-2 row-2-col-2">
		<picture>
			<source srcset="{% static 'img/img3.webp' %}" type="image/webp" />
			<img src="{% static 'img/img3.jpg' %}" alt="LED lights image #3" class="image-3" />
		</picture>
		<picture>
			<source srcset="{% static 'img/img4.webp' %}" type="image/webp" />
			<img src="{% static 'img/img4.jpg' %}" alt="LED lights image #4" class="image-4" />
		</picture>
	</div>
	<div class="col-12 col-md-3 col-xxl-4 row-2-col-3"></div>
</div>
<!-- ROW 3 -->
<div class="row">
	<div id="rectangle-1"></div>
	<a name="gallery" class="anchor-pc"></a>
	<div class="col-12 col-md-3 col-xxl-4 row-3-col-1"></div>
	<div class="col-12 col-md-3 col-xxl-2 row-3-col-2">
		<picture>
			<source srcset="{% static 'img/img5.webp' %}" type="image/webp" />
			<img src="{% static 'img/img5.jpg' %}" alt="LED lights image #5" />
		</picture>
	</div>
	<div class="col-12 col-md-6 col-xxl-5 row-3-col-3 text-center">
		<h3 class="my-0">{% trans 'Skaņas spektra analizators' %}.</h3>
		<h3 class="my-0">{% trans 'Vizuāla skaņas attēlošana dažādās frekvencēs' %}.</h3>
		<h3 class="mt-4 mb-0">{% trans 'Interaktīvais LED galds' %}.</h3>
		<h3 class="my-0">{% trans 'Uz priekšmetiem reaģējošs, mainot apgaismojuma krāsu' %}.</h3>
		<h3 class="my-0">{% trans 'Iekļaujot vairākas funkcijas ar dažādiem efektiem un pat' %}</h3>
		<h3 class="mt-0 mb-5 mb-md-0">{% trans 'izlozi starp novietotajiem priekšmetiem' %}.</h3>
	</div>
	<div class="col-12 col-xxl-1 row-3-col-4"></div>
</div>
<!-- ROW 4 -->
<div class="row">
	<div class="col-12 col-md-6 row-4-col-1"></div>
	<div class="col-12 col-md-3 row-4-col-2 d-flex flex-column justify-content-center text-center">
		<h2 class="mb-0">{% trans 'Apgaismojuma' %}</h2>
		<h2 class="mb-0">{% trans 'vadība ar slēdzi, sensoru, skārienjutīgu ekrānu vai mobilo lietotni' %}</h2>
	</div>
	<div class="col-12 col-md-3 row-4-col-3"></div>
</div>
<!-- ROW 5-->
<div class="row">
	<a name="communication" class="anchor-pc"></a>
	<div class="col-12 col-md-6 col-xxl-6 row-5-col-1">
		<h1 class="text-center">{% trans 'Saziņa' %}</h1>
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible rounded-pill fw-bold" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		<form method="post">
			{% csrf_token %}
			{{ form.name }}
			{{ form.sender }}
			{{ form.subject }}
			{{ form.content }}
			<button type="submit" class="btn btn-dark d-block mx-auto mt-3">{% trans 'Nosūtīt' %}</button>
		</form>
	</div>
	<div class="col-12 col-md-3 col-xxl-2 row-5-col-2">
		<picture>
			<source srcset="{% static 'img/img9.webp' %}" type="image/webp" />
			<img src="{% static 'img/img9.jpg' %}" alt="LED lights image #9" class="image-9" />
		</picture>
		<picture>
			<source srcset="{% static 'img/img8.webp' %}" type="image/webp" />
			<img src="{% static 'img/img8.jpg' %}" alt="LED lights image #8" class="image-8" />
		</picture>
	</div>
	<div class="col-12 col-md-3 col-xxl-4 row-5-col-3"></div>
</div>
<!-- ROW 6 -->
<div class="row">
	<a name="contacts" class="anchor-pc"></a>
	<div id="rectangle-2"></div>
	<div class="col-12 col-md-3 col-xxl-4 row-6-col-1"></div>
	<div class="col-12 col-md-3 col-xxl-2 row-6-col-2">
		<picture>
			<source srcset="{% static 'img/img10.webp' %}" type="image/webp" />
			<img src="{% static 'img/img10.jpg' %}" alt="LED lights image #10" />
		</picture>
	</div>
	<div class="col-12 col-md-6 col-xxl-4 row-6-col-3 text-center">
		<h1>{% trans 'Kontakti' %}</h1>
		<h2 class="mb-2">{% trans 'Pieņemam pasūtījumus visā Latvijā un ārpus tās' %}.</h2>
		<p class="mb-1">
			<strong>SIA "Retrix"</strong>
		</p>
		<p class="mb-1">
			<strong>{% trans 'Tel.nr.' %}</strong>:
			<a href="tel:+37120207735" class="link-info">(+371) 20207735</a>
		</p>
		<p class="mb-1">
			<strong>{% trans 'E-pasts' %}</strong>:
			<a href="mailto:retrixsia@gmail.com" class="link-info">retrixsia@gmail.com</a>
		</p>
		<p class="mb-1">
			<strong>{% trans 'Vienotais reģ.nr.' %}</strong>:
			42403042480
		</p>
		<p class="mb-1">
			<strong>{% trans 'Juridiskā adrese' %}</strong>:
			3-10, Nagļi, Nagļu pagasts, Rēzeknes novads, LV-4631
		</p>
		<p class="mb-1">
			<strong>{% trans 'Atrodamies' %}</strong>:
			{% trans 'Rīgā un Rēzeknes novadā' %}
		</p>
		<ul class="d-flex justify-content-center mt-3 p-0">
			<li>
				<a href="#" rel="noreferrer" class="me-3" title="Facebook">
					<i class="fa-brands fa-facebook-f fa-2xl"></i>
				</a>
			</li>
			<li>
				<a href="#" rel="noreferrer" class="ms-3" title="Instagram">
					<i class="fa-brands fa-instagram fa-2xl"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-12 col-xxl-2 row-6-col-4"></div>
</div>
{% endblock %}