{% load i18n %}
{% load static %}
<!-- MODAL -->
<div class="modal fade" id="Modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h1 class="modal-title text-center fw-bold">{% trans 'Galerija' %}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img5.webp' %}" type="image/webp">
                            <img src="{% static 'img/img5.jpg' %}" alt="LED lights image #5"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img24.webp' %}" type="image/webp">
                            <img src="{% static 'img/img24.jpg' %}" alt="LED lights image #24"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img11.webp' %}" type="image/webp">
                            <img src="{% static 'img/img11.jpg' %}" alt="LED lights image #11"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img8.webp' %}" type="image/webp">
                            <img src="{% static 'img/img8.jpg' %}" alt="LED lights image #8"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img3.webp' %}" type="image/webp">
                            <img src="{% static 'img/img3.jpg' %}" alt="LED lights image #3"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img23.webp' %}" type="image/webp">
                            <img src="{% static 'img/img23.jpg' %}" alt="LED lights image #23"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img13.webp' %}" type="image/webp">
                            <img src="{% static 'img/img13.jpg' %}" alt="LED lights image #13"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img26.webp' %}" type="image/webp">
                            <img src="{% static 'img/img26.jpg' %}" alt="LED lights image #26"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img27.webp' %}" type="image/webp">
                            <img src="{% static 'img/img27.jpg' %}" alt="LED lights image #27"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img14.webp' %}" type="image/webp">
                            <img src="{% static 'img/img14.jpg' %}" alt="LED lights image #14"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img17.webp' %}" type="image/webp">
                            <img src="{% static 'img/img17.jpg' %}" alt="LED lights image #17"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img9.webp' %}" type="image/webp">
                            <img src="{% static 'img/img9.jpg' %}" alt="LED lights image #9"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img21.webp' %}" type="image/webp">
                            <img src="{% static 'img/img21.jpg' %}" alt="LED lights image #21"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img19.webp' %}" type="image/webp">
                            <img src="{% static 'img/img19.jpg' %}" alt="LED lights image #19"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img4.webp' %}" type="image/webp">
                            <img src="{% static 'img/img4.jpg' %}" alt="LED lights image #4"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img18.webp' %}" type="image/webp">
                            <img src="{% static 'img/img18.jpg' %}" alt="LED lights image #18"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img16.webp' %}" type="image/webp">
                            <img src="{% static 'img/img16.jpg' %}" alt="LED lights image #16"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img20.webp' %}" type="image/webp">
                            <img src="{% static 'img/img20.jpg' %}" alt="LED lights image #20"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img15.webp' %}" type="image/webp">
                            <img src="{% static 'img/img15.jpg' %}" alt="LED lights image #15"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img25.webp' %}" type="image/webp">
                            <img src="{% static 'img/img25.jpg' %}" alt="LED lights image #25"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img22.webp' %}" type="image/webp">
                            <img src="{% static 'img/img22.jpg' %}" alt="LED lights image #22"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img2.webp' %}" type="image/webp">
                            <img src="{% static 'img/img2.jpg' %}" alt="LED lights image #2"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <picture>
                            <source srcset="{% static 'img/img12.webp' %}" type="image/webp">
                            <img src="{% static 'img/img12.jpg' %}" alt="LED lights image #12"
                                class="my-3 my-md-2 mx-auto d-block">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Aizvērt' %}</button>
            </div>
        </div>
    </div>
</div>